<div *ngIf="!(noProductsInCart$ | async)" class="container">
  <div class="card-table">
    <div class="cart-product table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Product name</th>
            <th scope="col">Product image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products$ | async; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{ product.title }}</td>
            <td><img src="{{ product.image }}" alt="" width="120px" /></td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.total }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeCart(product.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="noProductsInCart$ | async" class="container">
  <div class="card">
    <h5 class="card-title">My cart</h5>
  </div>
  <div class="center">
    <img
      src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
      alt=""
    />
    <h4>Your cart is empty!</h4>
    <h6>Add item to it now!</h6>
    <button class="btn btn-primary">Shop now!</button>
  </div>
</div>
